/* GENERAL TAGS */

body {
    background-color: #FFF;
    font-family: 'Raleway', sans-serif !important;
    min-height: 100%;
}

/* aggiunge padding alla pagina */
.page {
    padding: 2% 5% !important;
}

.page-title {
    width: 50%;
    padding: 1% 5% 1.5% 5% !important;
    box-shadow:  1em 1em 0 1px #81B214;
    font-style: italic;
    font-weight: 200;
    color: #FFF;
    font-size: 2rem;
    text-transform: uppercase;
}

.page-title-dark {
    font-style: italic;
    font-weight: 200;
    color: #81B214;
    font-size: 2rem;
    text-transform: uppercase;
}


.borderBottom {
    border-bottom: solid 5px #0F3057;
}

.borderBottomLight {
    border-bottom: solid 5px #FFF;
}

.desc {
    line-height: 2.3;
}

.row {
    margin: 0 !important;
}

.section-title {
    font-style: italic;
    font-weight: 300;
    color: #0F3057;
    font-size: 2rem;
}

.section-title-light {
    font-style: italic;
    font-weight: 300;
    color: #FFF;
    font-size: 2rem;
}

.title {
    font-weight: 700;
    font-size: 2em;
    color: #0F3057;
}

.bg-color {
    background-color: #0F3057;
    color: #fff;
}

#upBtn {
    display: none;
    position: fixed;
    bottom: 2em;
    right: 3.5%;
    z-index: 99;
    font-size: 1.5rem !important;
    background-color: #81B214 !important;
    color: #fff !important;
    text-transform: uppercase;
}

.dark-btn {
    background-color: #0F3057 !important;
    color: #fff !important;
    text-transform: uppercase;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.light-btn {
    background-color: #81B214 !important;
    color: #fff !important;
    text-transform: uppercase;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.borderX {
    border: solid transparent;
    border-image: url("../images/border-vert.svg") 0 50 0 50 repeat;
    margin: 2% 5% !important;
}

.borderLeft {
    border: solid transparent;
    border-image: url("../images/border-vert.svg") 0 0 0 50 repeat;
    padding-bottom: 1% !important;
}

.borderTop {
    border: solid transparent;
    border-image: url("../images/border-top.svg") 50 0 0 0 repeat;
    margin: 2% 5% !important;
}

.borderTopLarge {
    border: solid transparent;
    border-image: url("../images/border-top.svg") 50 0 0 0 repeat;
    margin: 0 5% 2% 5% !important;
}

.borderLeftSmall {
    border: solid transparent;
    border-image: url("../images/border-vert.svg") 0 0 0 50 round;
}

.borderRight {
    border: solid transparent;
    border-image: url("../images/border-vert.svg") 0 50 0 0 round;
}

.separator {
    margin: 0 5% !important;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

/* FORM */

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    color: #dc3545;
}

.was-validated .form-control:invalid {
    border-color: #dc3545;
}

.was-validated :invalid~.invalid-feedback {
    display: block;
}

.was-validated .form-control:valid {
    border-color: #28a745;
}

/* NAVBAR */

.logo {
    width: 20em;
    height: auto;
}

.nav-link {
    color: #888989 !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.active-link {
    font-weight: 600 !important;
    color: #81B214 !important;
}

/* HEADER */

.quote-image img{
    height: 25rem;
    padding: 2.5em 0 !important;
}

.blockquote {
    padding-left: 15% !important; 
    padding-right: 10% !important;
}

.blockquote-footer {
    color: #A2B1CE !important;
}

.quote {
    font-family: 'EB Garamond', serif;
    font-size: 2rem;
    line-height: 2;
}

.quote-image {
    padding-right: 15% !important;
}

/* PROFILO */

.profile-img {
    height: 25rem !important;
}

.profile-subtitle {
    color: #81B214;
    font-weight: 700;
}

.profile-desc {
    line-height: 2.5;
}

.profile-md {
    padding-right: 3em !important;
    padding-left: 0 !important;
}

.profile-btn-md {
    padding-right: 1.2em !important;
}

.main-who {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

/* PERCORSO */

.percordo-title {
    font-weight: 600;
    font-size: 1.5rem;
}

.percorso-desc {
    font-size: 1.1rem !important;
}

.main-per {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

/* PRENOTAZIONI */

.dark-subtitle {
    color: #0F3057;
    font-weight: 600;
    font-size: 1.5rem;
}

.contact-form {
    margin: 0 auto !important;
    padding-left: 10% !important;
}

/* FOOTER */

.logo-footer {
    width: 25em;
    height: auto;
}

.footer-border {
    border-bottom: solid #fff 1px;
}

.login-btn, .login-btn:hover, .login-btn:active {
    background-color: transparent;
    border: none;
    color: transparent;
}

footer .fas {
    color: #FFF;
}

.footer-title {
    font-size: 1.2rem !important;
    font-weight: 600;
}

.privacy {
    display: flex !important;
}

.privacy, .privacy a {
    color: #A2B1CE !important;
}

/* CHI SONO */

.profile-img2 {
    height: 32rem !important;
    width: auto !important;
}

.profile-icon {
    color: #81B214;
    font-size: 1.2rem;
}

.profile-list {
    color: #0F3057;
    font-size: 1.1rem;
}

.profile-card {
    padding: 2rem 3.5rem;
}

.cv-btn {
    width: 24rem !important;
}

.profile-p {
    margin-top: 10rem !important;
}

.profile p {
    font-size: 1.3rem !important;
}

.servizi {
    color: #0F3057;
}

.service-card {
    height: 6rem !important;
    padding: 0 1rem;
}

.link-light {
    color: #fff;
    font-weight: 600 !important;
}

.pub-small {
    font-weight: 200 !important;
}

.link-light:hover {
    color: #A2B1CE;
    text-decoration: none;
}

.aff {
    width: auto !important;
    max-height: 10em !important;
}

/* AREE DI INTERVENTO */

.piramide {
    background-image: url("../images/piramide.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    width: 100%;
    margin-top: 5rem !important;
}

.area-title {
    color: #0F3057;
    font-weight: 500;
    text-transform: uppercase;
}

.area-card {
    height: 26rem !important;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
}

.area {
    margin-top: 5rem !important;
    padding-top: 1.5rem !important;
    padding-right: 3rem !important;
}

.padding-area {
    padding-right: 0 !important;
    padding-left: 3rem !important;
}

/* GALLERY */

.glide__slide {
    transform: scale(.6) !important;
    transition: all ease 400ms !important;
    opacity: .7;
}

.glide__slide.glide__slide--active {
    transform: scale(1) !important;
    opacity: 1.0;
}

.glide__arrow {
    background-color: #FFF !important;
    color: #81B214 !important;
    font-size: 1.5em;
}

.glide__arrow--left {
    left: 30% !important;
}

.glide__arrow--right {
    right: 30% !important;
}

.foto-text {
    color: #0F3057 !important;
}

.glide2, .glide3, .glide4, .glide5 {
    position: relative;
}

.glide2 .glide__slide img {
    height: 30em !important;
    width: auto !important;
}

.studioBorder {
    border: 1px solid #81B214;
}

.studio-title {
    padding: 0 5% !important;
}

/* NEWS */

#filterList {
    margin: 0;
    display: inline-block;
    padding: 0 !important;
}

.filter {
    display: inline-block;
    padding: 0.5em 2.5em !important;
    color: #81B214 !important;
    border: solid 2px #81B214 !important;
    margin-right: 2.5em !important;
    font-weight: 500 !important;
}

.active-filter {
    color: #FFF !important;
    background-color: #81B214 !important;
    font-weight: 600 !important;
}


.fixed-card {
    height: 45em !important;
}

.fixed-card .card-body {
    padding: 1.5rem !important;
}

.art-footer {
    position: absolute;
    bottom: 1.5em;
    left: 1.5em;
    right: 1.5em;
}

.card-art-image {
    height: 17em !important;
}

.card-art-image img {
    width: 100% !important;
    height: 100% !important;
    object-position: left 4% !important;
    object-fit: cover !important;
}

.card-art {
    padding: 0 3.5em !important;
}

.art-data {
    color: #81B214;
}

.art-title {
    color: #0F3057;
    font-weight: 800;
}

.art-note {
    color: #0F3057;
}

.art-tag {
    padding: 0.2em 2em !important;
    color: #81B214 !important;
    border: solid 1px #81B214 !important;
    font-size: 0.8em !important;
    margin-top: 1.5em !important;
}

.art-card .row .col-lg-5,.art-card .row .col-lg-7 {
    padding: 0 !important;
}

.card-overlay {
    background: rgba(0, 0, 0, 0.5) !important;
}

/* CONTATTI */

.contact-title {
    color: #0F3057;
    font-weight: 600;
    font-size: 1.7rem;
}

#contatti .fas {
    color: #81B214;
    font-size: 1.2em !important;
}

.dark-link {
    color: #000 !important;
}

#contatti .fa-map-marker-alt {
    margin-right: 1rem !important;
}

#contatti .contact-icon {
    display: flex !important;
}

.studio-popover .indicazioni {
    position: absolute !important;
    right: 0;
    left: 40%;
    padding: 1rem 2rem !important;
    margin-right: 1rem !important;
    visibility: hidden;
    opacity: 0 !important;
    transition: 0.5s;
    transform: translateX(60%) translateY(-20%);
    border: none !important;
    background-color: #81B214;
    color: #fff;
}

.indicazioni:before {
    content: '';
    position: absolute !important;
    width: 30px !important;
    height: 30px !important;
    transform: rotate(45deg);
    left: -3%;
    top: 40%;
    background-color: #81B214;
}

.studio-popover:hover .indicazioni {
    visibility: visible;
    opacity: 1 !important;
    transform: translateX(0) translateY(-20%);
}

/* LOGIN */

.login {
    width: 60% !important;
}

/* ADMIN */

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 2em 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar .nav-link {
    color: #26293A;
}

.sidebar .nav-link i {
    margin-right: 1rem;
}

/* QUOTES */

.quote-thumb {
    width: auto !important;
    height: 10em !important;
    object-fit: cover;
}

/* GALLERY */

.close-modal {
    position: absolute;
    top: -1em;
    right: 0.2em;
}

/* AFF */

.aff-thumb {
    width: auto !important;
    height: 5em !important;
    object-fit: cover;
}

/* MEDIA QUERIES */

/* extra large screen */
@media (min-width: 1750px) {
    .indicazioni:before {
        left: -1%;
    }
}

/* large screen */
@media (min-width: 1550px) {

    .art-footer {
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
    }

    .art-tag {
        margin: 0 !important;
    }

}

/* medium screen 2 */
@media (max-width: 1590px) {

    .service-card {
        height: 8rem !important;
    }

    .area-card {
        height: 32rem !important;
    }

}

/* medium screen */
@media (max-width: 1300px) {

    .nav-link {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

}

/* tablet */
@media (max-width: 1199.98px) {

    .borderX {
        border: none !important;
    }

    .profile-img {
        height: 20rem !important;
    }

    .profile-desc{
        line-height: 1.9;
    }

    .profile-md {
        padding: 0 !important;
    }

    .profile-btn-md {
        padding-right: 0 !important;
    }

    .perc-img {
        width: 65% !important;
    }

    .logo-footer {
        width: 15em;
    }

    .profile-img2 {
        height: 22rem !important;
    }

    .profile-list {
        font-size: 0.9em;
    }

    .profile-card {
        padding: 1.5em 2em !important;
    }

    .cv-btn {
        width: auto !important;
    }

    .service-card {
        height: 8rem !important;
    }

    .area-card {
        height: auto !important;
    }

    .glide2 .glide__slide img {
        width: auto !important;
        height: 20em !important;
        object-fit: cover;
    }

    .glide3 iframe {
        width: 17em !important;
        height: 10em !important;
    }

    .quote-image img{
        width: 90% !important;
        object-fit: cover;
    }

    .card-art {
        padding: 0 2rem !important;
    }

    .blockquote {
        font-size: 1rem!important;
        padding-right: 5% !important;
    }

    .art-tag-1 {
        margin: 0 !important;
    }

    .dark-link p span{
        font-size: 0.8rem !important;
    }

    .login {
        width: 80% !important;
    }

    .studio-popover .indicazioni {
        top: 20% !important;
        transform: translateX(0) translateY(-50%);
        left: 0 !important;
    }
    
    .indicazioni:before {
        left: 46% !important;
        top: auto !important;
        bottom: -10%;
    }
    
    .studio-popover:hover .indicazioni {
        transform: translateX(0) translateY(0);
    }
    

}

/* small tablet */
@media (max-width: 991.98px) {

    .blockquote {
        padding: 1.5em 2em !important;
        text-align: center !important;
    }

    .quote-image {
        padding: 0 !important;
        text-align: center !important;
    }

    .quote-image img {
        float: none !important;
        padding: 0 3em 2em 3em !important;
        width: 60% !important;
        height: 20em !important;
    }

    .profile-col {
        display: none !important;
    }

    .perc-img {
        width: 30% !important;
    }

    .perc {
        padding: 2em 1em !important;
    }

    .p1 {
        order: 0 !important;
    }

    .p2 {
        order: 2 !important;
    }

    .borderLeft {
        border: none !important;
    }

    .p3 {
        order: 1 !important;
    }

    .p4 {
        order: 3 !important;
    }

    .logo-footer {
        width: 25em !important;
    }

    .page-title {
        width: 90% !important;
    }

    .pro-foto-md {
        order: 1 !important;
        text-align: center !important;
        padding: 1.5em 0 !important;
    }

    .profile {
        padding: 0 !important;
    }

    .service-card {
        height: auto !important;
    }

    .aff-card {
        padding: 2em 0 !important;
    }

    .piramide {
        background-image: none !important;
        margin: 0 !important;
    }

    .area {
        margin-top: 2rem !important;
        padding: 2em 1em 0 1em !important;
    }
    
    .padding-area {
        padding: 2em 1em 0 1em !important;
    }

    .glide__arrow--left {
        left: 15% !important;
    }
    
    .glide__arrow--right {
        right: 15% !important;
    }

    .glide3 iframe {
        width: 20em !important;
        height: 12em !important;
    }

    .art-card .row .col-lg-5 {
        padding: 2em 0 !important;
    }

    .fixed-card {
        height: auto !important;
    }

    .fixed-card .card-body {
        padding: 2em 3em !important;
    }

    .art-footer {
        position: relative !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
    }

    .art-tag {
        margin: 0 !important;
    }

    .borderLeftSmall {
        border: none !important;
    }

    #contatto {
        padding-left: 0 !important;
        margin-top: 3rem !important;
    }

    .borderRight {
        border: none !important;
    }

    .dark-link p span{
        font-size: 0.8rem !important;
    }

    .contact-form {
        padding: 0 !important;
    }

    .login {
        width: 100% !important;
    }

    .studio-popover .indicazioni {
        top: auto !important;
        left: 40% !important;
        right: 0 !important;
        transform: translateX(60%) translateY(-20%);
    }
    
    .indicazioni:before {
        left: -3% !important;
        top: 40% !important;
        bottom: auto !important;
    }
    
    .studio-popover:hover .indicazioni {
        transform: translateX(0) translateY(-20%);
    }
    

}

/* mobile */
@media (max-width: 576px) {

    .logo {
        width: 17rem !important;
    }

    .blockquote {
        order: 1 !important;
    }

    .quote-image img {
        width: 100% !important;
        object-fit: cover;
        padding: 0 !important;
    }

    .main-who {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .profile-col {
        display: block !important;
        order: 1 !important;
    }

    .profile-btn-md {
        padding: 1.5em 0 !important;
    }

    .profile-btn-md a, .dark-btn {
        float: none !important;
        width: 100% !important;
    }

    .profile-img {
        width: 100% !important;
        object-fit: cover;
    }

    .main-per {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .perc-img {
        width: 50% !important;
    }

    .logo-footer {
        width: 17rem !important;
    }

    .footer-icon {
        display: none !important;
    }

    .privacy {
        display: block !important;
    }

    .profile-card {
        padding: 1.5rem !important;
    }

    .profile-icon {
        font-size: 1em !important;
    }

    .profile-card .py-3 {
        display: flex !important;
    }

    .profile-img2 {
        width: 100% !important;
        object-fit: cover;
    }

    .profile {
        padding-top: 2rem !important;
    }

    .serv-col {
        display: none !important;
    }

    #pubblicazioni {
        padding: 2rem !important;
    }

    .glide__arrow--left {
        left: 2% !important;
    }
    
    .glide__arrow--right {
        right: 2% !important;
    }

    .glide2 .glide__slide img {
        height: 30em !important;
    }

    .filter {
        padding: 0.3rem 1.5rem !important;
        margin-right: 1rem !important;
        margin-bottom: 1rem !important;
    }

    .art-footer {
        display: block !important;
    }

    .art-tag {
        margin-top: 2rem !important;
    }

    .art-tag-1 {
        margin-top: 0 !important;
    }

    .studio-popover .indicazioni {
        top: 15% !important;
        transform: translateX(0) translateY(-50%);
        left: 0 !important;
        padding-bottom: 2rem !important;
    }
    
    .indicazioni:before {
        left: 46% !important;
        top: auto !important;
        bottom: -5% !important;
    }
    
    .studio-popover:hover .indicazioni {
        transform: translateX(0) translateY(0);
    }

}