/* GENERAL TAGS */

body {
    background-color: #FFF;
    font-family: 'Raleway', sans-serif !important;
    min-height: 100%;
}

/* aggiunge padding alla pagina */
.page {
    padding: 2% 5% !important;
}

.page-title {
    width: 50%;
    padding: 1% 5% 1.5% 5% !important;
    box-shadow:  1em 1em 0 1px #F2A51A;
    font-style: italic;
    font-weight: 200;
    color: #FFF;
    font-size: 2rem;
    text-transform: uppercase;
}

.page-title-dark {
    font-style: italic;
    font-weight: 200;
    color: #0D335D;
    font-size: 2rem;
    text-transform: uppercase;
}

.borderBottomLight {
    border-bottom: solid 5px #FFF;
}

.desc {
    line-height: 2.3;
}

/* altezza minima per evitare problemi con il footer*/
.main {
    min-height: 852px;
}

.row {
    margin: 0 !important;
}

.section-title {
    font-style: italic;
    font-weight: 300;
    color: #0D335D;
    font-size: 2rem;
}

.title {
    font-weight: 700;
    font-size: 2em;
    color: #0D335D;
}

.bg-color {
    background-color: #0F3057;
    color: #fff;
}

#upBtn {
    display: none;
    position: fixed;
    bottom: 2em;
    right: 2.5em;
    z-index: 99;
    font-size: 1.5rem !important;
}

.borderLeft {
    border-left: dashed #F2A51A 3px;
}

.borderRight {
    border-right: dashed #F2A51A 3px;
    padding-right: 5rem !important;
}

.borderTop {
    border-top: dashed #F2A51A 3px;
}

.separator {
    margin: 0 5% !important;
}

/* NAVBAR */

.logo {
    width: 20em;
    height: auto;
}

.nav-link {
    color: #888989 !important;
}

.active-link {
    font-weight: 600 !important;
    color: #81B214 !important;
}

/* HEADER */

.quote-image img{
    height: 32em;
    padding: 3em 0 !important;
}

.blockquote {
    padding-left: 15% !important; 
}

.blockquote-footer {
    color: #A2B1CE !important;
}

.quote {
    font-family: 'EB Garamond', serif;
    font-size: 2rem;
}

.quote-image {
    padding-right: 15% !important;
}

/* PROFILO */

.borderBottom {
    border-bottom: solid 5px #0D335D;
}

.profile-img {
    height: 25rem !important;
}

.profile-subtitle {
    color: #F2A51A;
    font-weight: 700;
}

.profile-desc {
    line-height: 2.5;
}

.dark-btn {
    background-color: #0D335D !important;
    color: #fff !important;
    text-transform: uppercase;
}

.light-btn {
    background-color: #F2A51A !important;
    color: #fff !important;
    text-transform: uppercase;
}

/* PERCORSO */

.percordo-title {
    font-weight: 600;
    font-size: 1.3rem;
}

/* PRENOTAZIONI */

.dark-subtitle {
    color: #0D335D;
    font-weight: 600;
    font-size: 1.3rem;
}

/* FOOTER */

.logo-footer {
    width: 25em;
    height: auto;
}

.footer-border {
    border-bottom: solid #fff 1px;
}

/* login icon */
.login-btn, .login-btn:hover, .login-btn:active {
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    color: transparent;
}

/* phone and email icons */
footer .fas {
    color: #FFF;
}

.privacy, .privacy a {
    color: #A2B1CE !important;
}

/* CHI SONO */

.profile-img2 {
    height: 32rem !important;
}

.profile-icon {
    color: #F2A51A;
    font-size: 1.2rem;
}

.profile-list {
    color: #0D335D;
    font-size: 1.1rem;
}

.profile-card {
    padding: 2rem 3.5rem;
}

.profile {
    padding: 0 5rem !important;
}

.profile-p {
    margin-top: 10rem !important;
}

.servizi {
    color: #0D335D;
}

.service-card {
    height: 6rem !important;
    padding: 0 1rem;
}

.link-light {
    color: #fff;
}

.link-light:hover {
    color: #A2B1CE;
    text-decoration: none;
}

/* AREE DI INTERVENTO */

.piramide {
    background-image: url("../images/piramide.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    width: 100%;
    margin-top: 5rem !important;
}

.area-title {
    color: #9098a1;
    font-weight: 500;
    text-transform: uppercase;
}

.area-card {
    height: 26rem !important;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
}

.area {
    margin-top: 5rem !important;
}

/* GALLERY */

.glide__slide {
    transform: scale(.6) !important;
    transition: all ease 400ms !important;
    opacity: .7;
}

.glide__slide.glide__slide--active {
    transform: scale(1) !important;
    opacity: 1.0;
}

.glide__arrow {
    background-color: #FFF !important;
    color: #F2A51A !important;
    font-size: 1.5em;
}

.glide__arrow--left {
    left: 20em !important;
}

.glide__arrow--right {
    right: 20em !important;
}

.foto-text {
    color: #0D335D !important;
}

.glide2, .glide3 {
    position: relative;
}

.glide2 .glide__slide img {
    height: 30em !important;
    width: auto !important;
}

/* NEWS */

#filterList {
    margin: 0;
    display: inline-block;
    padding: 0 !important;
}

.filter {
    display: inline-block;
    padding: 0.5em 2.5em !important;
    color: #F2A51A !important;
    border: solid 2px #F2A51A !important;
    margin-right: 2.5em !important;
    font-weight: 500 !important;
}

.active-filter {
    color: #FFF !important;
    background-color: #F2A51A !important;
    font-weight: 600 !important;
}

.art-card {
    display: none !important;
}

.show {
    display: block !important;
}

.card-art-image {
    width: 100% !important;
    height: 20em !important;
    object-fit: cover !important;
}

.card-art {
    padding: 2em 3.5em !important;
}

.art-data {
    color: #F2A51A;
}

.art-title {
    color: #0D335D;
    font-weight: 800;
}

/* ADMIN */

.feedback {
    color: red;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 2em 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar .nav-link {
    color: #26293A;
}

.sidebar .nav-link i {
    margin-right: 1rem;
}

/* THUMBNAIL */

.img-thumbnail {
    width: 20em !important;
    height: 10em !important;
}

.close-modal {
    position: absolute;
    top: -0.4em;
    right: 0.3em;
}

/* MEDIA QUERIES */

