/* GENERAL TAGS */

body {
    background-color: #f3f5f3;
    font-family: 'Raleway', sans-serif !important;
    min-height: 100%;
}

/* aggiunge padding alla pagina */
.page {
    padding: 2% 5% !important;
}

/* altezza minima per evitare problemi con il footer*/
.main {
    min-height: 852px;
}

.bottom-div {
    position: absolute !important;
    bottom: 0;
    left: 3rem;
}

.row {
    margin: 0 !important;
}

.section-title {
    font-style: italic;
    font-weight: 300;
    color: #0D335D;
    font-size: 2rem;
}

.title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

.widget-top {
    border-top: 1px solid #263859;
}

.bg-color {
    background-color: #0D335D;
    color: #fff;
}

/* NAVBAR */

.logo-title {
    font-weight: 600;
    font-size: 1.3rem;
}

.logo-desc {
    font-size: 1rem;
}

.logo {
    width: 20em;
    height: auto;
}

.active-link {
    font-weight: 600 !important;
    color: #D89216 !important;
}

/* HEADER */

.carousel-inner .carousel-item img{
    height: 30em;
    padding: 5em 0 !important;
}

.blockquote {
    padding-left: 15% !important; 
}

.blockquote-footer {
    color: #A2B1CE !important;
}

.quote {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
}

.quote-image {
    padding-right: 15% !important;
}

/* PROFILO */

.borderLeft {
    border-left: dashed #D89216 3px;
}

.borderRight {
    border-right: dashed #D89216 3px;
    padding-right: 5rem !important;
}

.borderBottom {
    border-bottom: solid 5px #0D335D;
}

.profile-img {
    height: 25rem !important;
}

.profile-subtitle {
    color: #D89216;
    font-weight: 700;
}

.profile-desc {
    line-height: 2.5;
}

.dark-btn {
    background-color: #0D335D !important;
    color: #fff !important;
    text-transform: uppercase;
}

.light-btn {
    background-color: #D89216 !important;
    color: #fff !important;
    text-transform: uppercase;
}

/* PERCORSO */

.percordo-title {
    font-weight: 600;
    font-size: 1.3rem;
}

/* PRENOTAZIONI */

.dark-subtitle {
    color: #0D335D;
    font-weight: 600;
    font-size: 1.3rem;
}

/* FOOTER */

.logo-footer {
    width: 25em;
    height: auto;
}

.footer-border {
    border-bottom: solid #fff 1px;
}

/* login icon */
.login-btn, .login-btn:hover, .login-btn:active {
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    color: transparent;
}

/* phone and email icons */
footer .fas {
    color: #FFF;
}

.privacy {
    color: #A2B1CE !important;
}

/* ADMIN */

.feedback {
    color: red;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 2em 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar .nav-link {
    color: #26293A;
}

.sidebar .nav-link i {
    margin-right: 1rem;
}

/* THUMBNAIL */

.img-thumbnail {
    width: 20em !important;
    height: 10em !important;
}

.close-modal {
    position: absolute;
    top: -0.4em;
    right: 0.3em;
}

/* MEDIA QUERIES */

