/* GENERAL TAGS */

body {
    background-color: #F8F9FB;
    font-family: 'Montserrat' !important;
    min-height: 100%;
}

/* padding on the central content of every page */
#main {
    padding: 3% 10%;
}

/* h1 */
.title {
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.5;
}

/* NAVBAR */

.navbar {
    padding: 0 !important;
}

/* navbar brand or logo */
nav .navbar-brand {
    font-weight: 500;
    font-size: 2rem;
}

/* nav item when active */
.active {
    font-weight: 500 !important;
    color: #008be6 !important;
}

/* login icon */
.fa-user {
    color: #8D919E;
}

/* HEADER */

#header {
    color: #26293A;
}

/* PROFILO */

.subtitle {
    color: #26293A;
    font-size: 3em;
    font-weight: 600;
}

/* FOOTER */

footer {
    margin-top: 11em;
}

/* phone and email icons */
footer .fas {
    font-size: 1.5em;
    color: #FFF;
}

/* MEDIA QUERY */

